/* Variables */
:root {
    --actor-gradient: linear-gradient(
    to bottom,
    #121336 64%,
    #854c5b 90%,
    #cd8e18 100%
  );
  --masks-primary-text-color: #ffffff;
  --masks-secondary-text-color: #fff4dc;
  --masks-input-text-color: #000000;
  --masks-input-placeholder-color: #5a5a5a;

  --masks-interactive-bg-color: #683b47;
  --masks-interactive-bg-hover-color: #4b2a33;
  --masks-stats-secondary-bg-color: rgba(0, 0, 0, 0.25);
  --masks-option-bg-color: #683b47;
  
  --interactive-color: #cd8e18;
  --masks-tabs-border-color: #cd8e18;
  --masks-tab-bg-active-color: #cd8e18;
  
  --masks-input-bg-color: rgb(229 222 210 / 87%);
  --masks-input-border-color: #cd8e18;
  --masks-tox-edit-area-bg-color: rgba(255, 255, 255, 0.75);

  --masks-resource-border-color: #bcc8de;
  --masks-resource-control-bg-color: #ffffff;
  --masks-stats-border-color: rgb(229 222 210 / 37%);

  --masks-cell-title-border-color: #8b8dc1;

  --masks-window-bg-image: url("/modules/masks-newgeneration-unofficial/images/skyline.webp"), 
  url("/modules/masks-newgeneration-unofficial/images/stars.webp"),
  var(--actor-gradient);
  --masks-window-bg-position: bottom left, top left;
  --masks-influence-icon-color: invert(0%);
  --masks-influence-icon-disabled-color: opacity(50%);
}
