:root {
  --actor-gradient: linear-gradient(
    to bottom,
    #3179cd 0%,
    #9cb1a5 80%,
    #ffeb98 100%
  );
  --primary-text-color: #ffffff;
  --secondary-text-color: #000000;

  --interactive-bg-color: #1e528f;
  --interactive-bg-hover-color: #173f6e;
  --stats-secondary-bg-color: rgba(0, 0, 0, 0.25);
  --option-bg-color: #683b47;

  --tabs-border-color: #ffeb98;
  --tab-bg-active-color: #ffeb98;

  --input-bg-color: rgb(255 255 255 / 36%);
  --tox-edit-area-bg-color: rgba(255, 255, 255, 0.5);

  --resource-masks-border-color: #bcc8de;

  --custom-resource-border-color: #ffffff;

  --cell-title-border-color: #b0c4de;
  --bio-title-border-color: #515b68;

  --window-bg-image: url("/modules/masks-newgeneration-unofficial/images/skyline.webp"),
    var(--actor-gradient);
  --window-bg-position: bottom left;
}

.pbta.window-app .window-content {
  color: var(--secondary-text-color);
}

.vtt .pbta .window-header {
  background-color: var(--interactive-bg-color);
}

.vtt .window-app input:disabled, 
.vtt .window-app button:disabled, 
.vtt .window-app select:disabled, 
.vtt .window-app textarea:disabled {
  background: rgba(153,153,153,.2509803922);
  color: var(--resource-masks-border-color);
}

.pbta.sheet {
  label {
    font-weight: normal;
  }

  .window-content {
    background-image: var(--window-bg-image);
    background-position: var(--window-bg-position);
    background-repeat: repeat-x;
    background-size: auto;
  }

  .tox.tox-tinymce .tox-edit-area__iframe {
    background: var(--tox-edit-area-bg-color);
  }

  .sheet-header__fields {
    grid-column: span 3 / span 3;
    grid-template-columns: repeat(3, minmax(0, 1fr));
  }

  // .cell--custom .cell__title .item-group-label,
  // .cell--influences .cell__title .item-group-label {
  //   cursor: pointer;
  // }
  
  // .cell--custom .item-details-toggle,
  // .cell--influences .item-details-toggle {
  //   display: inline-block;
  //   width: 24px;
  //   height: 16px;
  //   text-align: center;
  //   border-radius: 5px;
  //   transition: all ease-in-out 0.25s;
  // }

  // .cell--custom .fas,
  // .cell--influences .fas {
  //   transition: all ease-in-out 0.25s;
  // }
  
  // .cell--custom .open .fas,
  // .cell--influences .open .fas {
  //   transform: rotate(180deg);
  // }

  .editor-content {
    background: var(--input-bg-color);
    color: var(--secondary-text-color);
    min-height: 31px;

    a.content-link, a.inline-roll {
      background: var(--input-bg-color);
    }
  }

  .sheet-wrapper {
    .editor-content {
      background: var(--input-bg-color);
      color: var(--secondary-text-color);
      min-height: 31px;
      padding: 0 10px;
    }

    .sheet-bottom .cell.cell--bio {
      min-height: 175px;
      margin-bottom: 5px;

      .editor {
        min-height: calc(100% - 40px);

        .editor-content {
          height: 135px;
        }
      }
    }
  }

  .cell__wrapper {
    position: relative;
    width: 100%;
    
    & > input[type="number"] {
      font-size: 18px;
      text-align: center;
      background-color: var(--input-bg-color);
      color: var(--secondary-text-color);
      font-weight: bold;
      margin: 0;
      display: block;
      width: 100%;
    }
  }

  // .influences {
  //   .influence-name {
  //     flex: 4;
  //   }

  //   input.influence--name {
  //     width: calc(100% - 36px);
  //     font-size: 18px;
  //     text-align: left;
  //     height: 32px;
  //     margin: 0px 0px 8px 0px;
  //   }

  //   .influence-management {
  //     margin: 0px 0px 8px 0px;
  //     display: flex;
  //     flex-direction: row;
  //     text-align: center;
  //     flex: 4;

  //     .influence-disabled {
  //       filter: opacity(0.5);
  //     }
  //   }
    
  //   img.influence-icon {
  //     flex: 1;
  //     vertical-align: top;
  //     border: 0;
  //     height: 32px;
  //     width: 32px;
  //     padding: 0;
  //     margin: 0;
  //     border-radius: 0;
  //     cursor: pointer;
  //   }
  // }

  // &
  // .influences
  // .influence-management
  // .influence-control.influence-delete,
  // &
  // .influences
  // .influence-management
  // .influence-control.influence-lock,
  // &
  // .influences
  // .influence-management
  // .influence-control.influence-unlock {
  //   font-size: 28px;
  //   flex: 1;
  // }

  // --

  .masks-label-shift {
    img {
      border: none;
      margin-right: 4px;
      height: 20px;
      width: 20px;
    }

    select {
      color: var(--primary-text-color);
      font-weight: bold;
      max-width: calc(50% - 2px);
      padding-left: 10px;

      option {
        background-color: var(--option-bg-color);
        color: var(--primary-text-color);
        border-radius: 0px;
      }

      &.masks-shift-down {
        // TODO these URLs dont work
        background: url("/icons/svg/down.svg") no-repeat -10% var(--stats-secondary-bg-color);
        background-size: contain;
      }
      
      &.masks-shift-up {
        // TODO these URLs dont work
        background: url("/icons/svg/up.svg") no-repeat -10% var(--stats-secondary-bg-color);
        background-size: contain;
      }
    }
  }

  // -- /** NPCs **/

  .sheet-attributes {
    position: relative;
  
    .cell--stats .stat {
      background: var(--interactive-bg-color);
      color: var(--primary-text-color);
    
      .cell__title {
        color: var(--primary-text-color);
      }

      &:hover {
        background: var(--interactive-bg-hover-color);
      }
    }
  }
  
  // -- /** Custom Styling **/
  .sheet-bottom {
    .cell--LongText, 
    .cell--ListMany, 
    .cell--moves,
    .cell--xp,
    .cell--Text,
    .cell--Checkbox,
    .cell--Number {
      padding-top: 5px;
    }

    .cell--conditions {
      padding-top: 0px;
    }
  }
  
  .bio_style {
    font-style: italic;
    position: relative;
    padding-left: 8px;
    border-bottom: none;
    color: var(--secondary-text-color);
    letter-spacing: 0.05rem;
    font-size: 22px;
    font-weight: normal;
    margin: 10px 10px 0px 0px;

    &::before {
      // z-index: -1;
      content: "";
      position: absolute;
      left: 7px;
      top: 0;
      height: 2px;
      width: calc(100% - 10px);
      background-color: var(--bio-title-border-color);
      transform: skewX(-15deg);
    }

    &::after {
      // z-index: -1;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: var(--bio-title-border-color);
      transform: skewX(-15deg);
    }
  }

  .cell__title {
    font-style: italic;
    position: relative;
    padding-left: 8px;
    border-bottom: none;
    color: var(--secondary-text-color);
    letter-spacing: 0.05rem;
    font-size: 22px;

    &::before {
      // z-index: -1;
      content: "";
      position: absolute;
      left: 7px;
      top: 0;
      height: 2px;
      width: calc(100% - 10px);
      background-color: var(--cell-title-border-color);
      transform: skewX(-15deg);
    }

    &::after {
      // z-index: -1;
      content: "";
      position: absolute;
      left: 0;
      top: 0;
      height: 100%;
      width: 4px;
      background-color: var(--cell-title-border-color);
      transform: skewX(-15deg);
    }
  }

  .tabs {
    border-bottom: 2px solid var(--tabs-border-color);
  }

  .sheet-tabs.tabs > a.item {
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    font-style: italic;
    background-color: var(--interactive-bg-color);
    color: var(--primary-text-color);

    &.active,
    &.active:hover {
      background-color: var(--tab-bg-active-color);
      color: var(--secondary-text-color);
    }

    &:hover,
    &:focus {
      background-color: var(--interactive-bg-hover-color);
      color: var(--primary-text-color);
      font-weight: bold;
    }
  }

  .sheet-header__fields .view-playbook {
    background: var(--interactive-bg-color);
    color: var(--primary-text-color);
    opacity: 1;
  
    &:hover {
      opacity: 1;
      background: var(--interactive-bg-hover-color);
    }
  }

  /** Playbook customizations **/
  .cell--theReformed {
    input[type="checkbox"] {
      margin: 3px 1px;
      flex: 0 0 14px;
    }

    .cell__title {
      font-size: 20px;
    }
  }
  
  .cell--theScionGreatestEnemy,
  .cell--theScionGreatestVictim,
  .cell--theScionPersonalIdol,
  .cell--theScionGreatestLeader,
  .cell--theScionGreatestHero,
  .cell--theScionBiggestCelebrity {
    input[type="checkbox"] {
      margin: 3px 1px;
      flex: 0 0 14px;
    }

    .cell__title {
      font-size: 20px;
    }

    input[type="checkbox"] {
      &:nth-child(5n) {
        margin-left: 5px;
        &::before {
          display: inline-block;
          content: "";
          border-left: 2px solid #7a7971;
          height: 18px;
          margin: 0 -4px;
        }
      }
    }
  }
}

/** NPCs **/
.pbta.sheet.npc {
  .sheet-wrapper .sheet-header {
    margin-bottom: 0px;
  }
  
  .sheet-attributes {
    grid-column: span 5;
    grid-template-columns: repeat(5, minmax(0, 1fr));

    .cell-npc-text {
      grid-column: span 2;
      .editor {
        min-height: 150px;
        max-height: 150px;
      }
    }
  }

  & .sheet-header__fields {
    padding: 0px;
  }

  // &
  // .cell--aesthetics
  // .cell--conditions
  // ul.cell__checkboxes
  // label {
  //   display: flex;
  //   align-items: center;
  // }


  // &
  // .sheet-attributes
  // .cell-npc-text
  // .editor
  // .tox-editor-container {
  //   min-height: 150px;
  //   height: 100% !important;
  // }
}

.sheet .cell--image {
  border: 1px solid var(--cell-title-border-color);
}